{{ define "title" }}Create a new Snippet{{ end }}

{{ define "main" }}
<form action="/snippet/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
    <div>
        <label for="title">Title:</label>
        {{ with .Form.FieldErrors.title }}
            <span class="error">{{ . }}</span>
        {{ end }}
        <input type="text" id="title" name="title" value="{{ .Form.Title }}">
    </div>
    <div>
        <label for="content">Content:</label>
        {{ with .Form.FieldErrors.content }}
            <span class="error">{{ . }}</span>
        {{ end }}
        <textarea id="content" name="content">{{ .Form.Content }}</textarea>
    </div>
    <div>
        <label>Delete in:
            {{ with .Form.FieldErrors.expires }}
            <span class="error">{{ . }}</span>
            {{ end }}
            <input type="radio" name="expires" value="365" {{ if eq .Form.Expires 365 }}checked{{ end }}/> One year
            <input type="radio" name="expires" value="7" {{ if eq .Form.Expires 7 }}checked{{ end }}/> One Week
            <input type="radio" name="expires" value="1" {{ if eq .Form.Expires 1 }}checked{{ end }}/> One Day
        </label>
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
{{ end }}